@model CarRental.Web.Models.AccountChangePasswordModel
@{
    ViewBag.Title = "Account Change Password";
}
@section scripts
{
    <script src="@Url.Content("~/Binding/ViewModels/AccountChangePasswordViewModel.js")" type="text/javascript"></script>
}

<div data-ng-controller="AccountChangePasswordViewModel" ng-init="loginEmail = '@User.Identity.Name'">
    <div ng-switch="viewMode">
        <div ng-switch-when="changepw">
            @Html.Partial("~/Views/Shared/_ValidationErrors.cshtml")
            <p class="input-group" style="width: 400px;">
                <span class="input-group-addon" style="width: 140px; text-align: left;">Old Password:</span>
                <input type="password" class="form-control" ng-model="passwordModel.OldPassword" placeholder=" old password" />
            </p>
            <br />
            <p class="input-group" style="width: 400px;">
                <span class="input-group-addon" style="width: 140px; text-align: left;">New Password:</span>
                <input type="password" class="form-control" ng-model="passwordModel.NewPassword" placeholder=" new password" />
            </p>
            <hr style="width: 415px; text-align: left;" />
            <p>
                <button type="button" class="btn btn-info" ng-click="changePassword()">Change Password</button>
            </p>
        </div>
        <div ng-switch-when="success">
            <h2>Password changed - thank you.</h2>
        </div>
    </div>
</div>
