<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Codeplex Project Rules" Description="These rules represent the minimum set of rules the code must adhere to for the project" ToolsVersion="10.0">
  <IncludeAll Action="Error" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
  </Rules>
</RuleSet>