<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Microsoft.ServiceModel.Interop.Samples.HelloWorldService" behaviorConfiguration="helloWorld">
        <endpoint address="Username_Metro" binding="metroBinding" bindingConfiguration="helloWorld_UsernameOverCertificate" contract="Microsoft.ServiceModel.Interop.Samples.IHelloWorld"/>
        <endpoint address="Username_WebLogic" binding="webLogicBinding" bindingConfiguration="helloWorld_UsernameOverCertificate" contract="Microsoft.ServiceModel.Interop.Samples.IHelloWorld"/>
        <endpoint address="Username_WebSphere" binding="webSphereBinding" bindingConfiguration="helloWorld_UsernameOverCertificate" contract="Microsoft.ServiceModel.Interop.Samples.IHelloWorld"/>
        <endpoint address="Username_Wso2" binding="wso2InteropBinding" bindingConfiguration="helloWorld_UsernameOverCertificate" contract="Microsoft.ServiceModel.Interop.Samples.IHelloWorld"/>
        <endpoint address="Mex" binding="mexHttpBinding" contract="IMetadataExchange"/> 
      </service>
    </services>
    <bindings>
      <metroBinding>
        <binding name="helloWorld_UsernameOverCertificate">
          <security mode="UserNameOverCertificate"/>
        </binding>
      </metroBinding>
      <webLogicBinding>
        <binding name="helloWorld_UsernameOverCertificate">
          <security mode="UserNameOverCertificate"/>
        </binding>
      </webLogicBinding>
      <webSphereBinding>
        <binding name="helloWorld_UsernameOverCertificate">
          <security mode="UserNameOverCertificate"/>
        </binding>
      </webSphereBinding>
      <wso2InteropBinding>
        <binding name="helloWorld_UsernameOverCertificate">
          <security pattern="UserNameForCertificate"/>
        </binding>
      </wso2InteropBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="helloWorld">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug httpHelpPageEnabled="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="Microsoft.ServiceModel.Interop.Samples.CustomUserNameValidator, Microsoft.ServiceModel.Interop.Samples"/>
            <clientCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck"/>
            </clientCertificate>
            <serviceCertificate
              storeLocation="LocalMachine"
              storeName="TrustedPeople"
              x509FindType="FindBySubjectDistinguishedName"
              findValue="CN=HelloWorldService"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <bindingExtensions>
        <add name="metroBinding" type="Microsoft.ServiceModel.Interop.Metro.Configuration.MetroBindingCollectionElement, Microsoft.ServiceModel.Interop, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4fc38efee625237e"/>
        <add name="webLogicBinding" type="Microsoft.ServiceModel.Interop.WebLogic.Configuration.WebLogicBindingCollectionElement, Microsoft.ServiceModel.Interop, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4fc38efee625237e"/>
        <add name="webSphereBinding" type="Microsoft.ServiceModel.Interop.WebSphere.Configuration.WebSphereBindingCollectionElement, Microsoft.ServiceModel.Interop, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4fc38efee625237e"/>
        <add name="wso2InteropBinding" type="Microsoft.ServiceModel.Interop.Wso2.Configuration.Wso2InteropBindingCollectionElement, Microsoft.ServiceModel.Interop, Version=1.0.0.0, Culture=neutral, PublicKeyToken=4fc38efee625237e" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
</configuration>