<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <behaviors>
      <endpointBehaviors>
        <!-- named configured httpBehavior -->
        <behavior name="configuredBehavior">         
          <httpBehavior helpEnabled="false" trailingSlashMode="Ignore" />
        </behavior>
        <!-- default configured httpBehavior -->
        <behavior  name="">
          <httpBehavior helpEnabled="false" trailingSlashMode="Ignore" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="httpBehavior" type="Microsoft.ApplicationServer.Http.Configuration.HttpBehaviorElement, Microsoft.ApplicationServer.Http"/>
      </behaviorExtensions>
    </extensions>
    
  </system.serviceModel>
</configuration>
