<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    
    <services>
      <service name="Microsoft.ApplicationServer.Common.Test.Services.CustomerService">
        <endpoint address="http://somehost"
                  contract="Microsoft.ApplicationServer.Common.Test.Services.CustomerService"
                  endpointConfiguration="configuredEndpoint"
                  kind="httpEndpoint"/>
      </service>
    </services>
    
    <standardEndpoints>
      <httpEndpoint>
        <!-- named configured httpEndpoint -->
        <standardEndpoint
          name="configuredEndpoint"
          helpEnabled="false"
          trailingSlashMode="Ignore"
          transferMode="Streamed"
          hostNameComparisonMode="Exact"
          maxBufferPoolSize="1"
          maxBufferSize="2"
          maxReceivedMessageSize="3" >
        </standardEndpoint>
        <!-- default configured httpEndpoint -->
        <standardEndpoint transferMode="Streamed"/>
      </httpEndpoint>
    </standardEndpoints>

    <extensions>
      <bindingExtensions>
        <add name="httpBinding" type="Microsoft.ApplicationServer.Http.Configuration.HttpBindingCollectionElement, Microsoft.ApplicationServer.Http"/>
      </bindingExtensions>
      <endpointExtensions>
        <add name="httpEndpoint" type="Microsoft.ApplicationServer.Http.Configuration.HttpEndpointCollectionElement, Microsoft.ApplicationServer.Http"/>
      </endpointExtensions>
    </extensions>
    
  </system.serviceModel>
</configuration>
