<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    
    <services>
      <service name="Microsoft.ApplicationServer.Common.Test.Services.CustomerService">
        <endpoint address="http://somehost"
                  contract="Microsoft.ApplicationServer.Common.Test.Services.CustomerService"
                  endpointConfiguration="configuredEndpoint"
                  kind="httpMemoryEndpoint"/>
      </service>
    </services>
    
    <standardEndpoints>
      <httpMemoryEndpoint>
        <!-- named configured httpMemoryEndpoint -->
        <standardEndpoint
          name="configuredEndpoint"
          helpEnabled="false"
          trailingSlashMode="Ignore">
        </standardEndpoint>
        <!-- default configured httpMemoryEndpoint -->
        <standardEndpoint />
      </httpMemoryEndpoint>
    </standardEndpoints>

    <extensions>
      <bindingExtensions>
        <add name="httpMemoryBinding" type="Microsoft.ApplicationServer.Http.Configuration.HttpMemoryBindingCollectionElement, Microsoft.ApplicationServer.Http"/>
      </bindingExtensions>
      <endpointExtensions>
        <add name="httpMemoryEndpoint" type="Microsoft.ApplicationServer.Http.Configuration.HttpMemoryEndpointCollectionElement, Microsoft.ApplicationServer.Http"/>
      </endpointExtensions>
    </extensions>
    
  </system.serviceModel>
</configuration>
