<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    
    <bindings>
      <httpBinding>
        <!-- named configured httpBinding -->
        <binding name="configuredBinding" 
                 hostNameComparisonMode="Exact" 
                 maxBufferPoolSize="500" 
                 maxReceivedMessageSize="100" 
                 maxBufferSize="200" 
                 transferMode="StreamedResponse">
          <security mode="Transport">
            <transport realm="someConfigRealm" 
                 clientCredentialType="Basic" 
                 proxyCredentialType="Ntlm">
              <extendedProtectionPolicy policyEnforcement="WhenSupported"/>
            </transport>
          </security>
        </binding>
        <!-- default configured httpBinding -->
        <binding hostNameComparisonMode="WeakWildcard"/>
      </httpBinding>
    </bindings>

    <extensions>
      <bindingExtensions>
        <add name="httpBinding" type="Microsoft.ApplicationServer.Http.Configuration.HttpBindingCollectionElement, Microsoft.ApplicationServer.Http"/>
      </bindingExtensions>
    </extensions>
    
  </system.serviceModel>
</configuration>