<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    
    <bindings>
      <httpMemoryBinding>
        <!-- named configured httpMemoryBinding -->
        <binding name="configuredBinding" />

        <!-- default configured httpMemoryBinding -->
        <binding />
      </httpMemoryBinding>
    </bindings>

    <extensions>
      <bindingExtensions>
        <add name="httpMemoryBinding" type="Microsoft.ApplicationServer.Http.Configuration.HttpMemoryBindingCollectionElement, Microsoft.ApplicationServer.Http"/>
      </bindingExtensions>
    </extensions>
    
  </system.serviceModel>
</configuration>