<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>

        <extensions>
            <behaviorExtensions>
                <add name="webHttp3" type="Microsoft.ServiceModel.Configuration.WebHttpElement3, Microsoft.ServiceModel.Web.jQuery"/>
            </behaviorExtensions>
        </extensions>

        <services>
            <service name="Microsoft.ServiceModel.Web.Test.JQueryWCF2">
                <endpoint name="implicitDefaults" address="ImplicitDefaults" contract="Microsoft.ServiceModel.Web.Test.IJQueryWCF2"
                          binding="webHttpBinding" behaviorConfiguration="webHttp3ImplicitDefaults" />
                <endpoint name="explicitDefaults" address="ExplicitDefaults" contract="Microsoft.ServiceModel.Web.Test.IJQueryWCF2"
                          binding="webHttpBinding" behaviorConfiguration="webHttp3ExplicitDefaults" />
                <endpoint name="noDefaults" address="NoDefaults" contract="Microsoft.ServiceModel.Web.Test.IJQueryWCF2"
                          binding="webHttpBinding" behaviorConfiguration="webHttp3NoDefaults" />
            </service>
        </services>

        <behaviors>
            <endpointBehaviors>
                <behavior name="webHttp3ImplicitDefaults">
                    <webHttp3 />
                </behavior>
                <behavior name="webHttp3ExplicitDefaults">
                    <webHttp3 automaticFormatSelectionEnabled="true" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Xml" faultExceptionEnabled="false" helpEnabled="true" />
                </behavior>
                <behavior name="webHttp3NoDefaults">
                    <webHttp3 automaticFormatSelectionEnabled="false" defaultBodyStyle="WrappedResponse" defaultOutgoingResponseFormat="Json" faultExceptionEnabled="true" helpEnabled="false" />
                </behavior>
            </endpointBehaviors>
        </behaviors>

    </system.serviceModel>

</configuration>