<div ng-show="viewMode == 'confirm">
    <div>
        <span class="form-label" style="width: 140px;">First name: </span>
        <span style="margin-left: 3px; width: 200px;" ng-model="accountModelStep1.FirstName"></span>
    </div>
    <br />
    <div>
        <span class="form-label" style="width: 140px;">Last name: </span>
        <span style="margin-left: 3px; width: 200px;" ng-model="accountModelStep1.LastName"></span>
    </div>
    <br />
    <div>
        <span class="form-label" style="width: 140px;">Address: </span>
        <span style="margin-left: 3px; width: 200px;" ng-model="accountModelStep1.Address"></span>
    </div>
    <br />
    <div>
        <span class="form-label" style="width: 140px;">City: </span>
        <span style="margin-left: 3px; width: 200px;" ng-model="accountModelStep1.City"></span>
    </div>
    <br />
    <div>
        <span class="form-label" style="width: 140px;">State: </span>
        <span style="margin-left: 3px; width: 200px;" ng-model="accountModelStep1.State"></span>
    </div>
    <br />
    <div>
        <span class="form-label" style="width: 140px;">Zip code: </span>
        <span style="margin-left: 3px; width: 200px;" ng-model="accountModelStep1.ZipCode"></span>
    </div>
    <br />
    <div>
        <span class="form-label" style="width: 140px;">Login email: </span>
        <span style="margin-left: 3px; width: 200px;" ng-model="accountModelStep2.LoginEmail"></span>
    </div>
    <br />
    <div>
        <span class="form-label" style="width: 140px;">Credit card: </span>
        <span style="margin-left: 3px; width: 200px;" ng-model="accountModelStep3.CreditCard"></span>
    </div>
    <br />
    <div>
        <span class="form-label" style="width: 140px;">Exp. date: </span>
        <span style="margin-left: 3px; width: 200px;" ng-model="accountModelStep3.ExpDate"></span>
    </div>
    <hr style="width: 415px; text-align: left;" />
    <div>
        <a href="/account/register/step3" class="btn btn-info">Previous</a>
        <a href="#" class="btn btn-info" ng-click="createAccount()">Create Account</a>
    </div>
</div>

<div ng-show="viewMode == 'welcome'">
    <h2>Welcome to CarRental!</h2>
</div>