<div>
    <p class="input-group" style="width: 400px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">First name:</span>
        <input type="text" class="form-control" ng-model="accountModelStep1.FirstName" placeholder="first name" />
    </p>
    <p class="input-group" style="width: 400px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">Last name:</span>
        <input type="text" class="form-control" ng-model="accountModelStep1.LastName" placeholder="last name" />
    </p>
    <p class="input-group" style="width: 500px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">Address:</span>
        <input type="text" class="form-control" ng-model="accountModelStep1.Address" placeholder="address" />
    </p>
    <p class="input-group" style="width: 500px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">City:</span>
        <input type="text" class="form-control" ng-model="accountModelStep1.City" placeholder="city" />
    </p>
    <p class="input-group" style="width: 250px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">State:</span>
        <input type="text" class="form-control" ng-model="accountModelStep1.State" placeholder="state" />
    </p>
    <p class="input-group" style="width: 300px;">
        <span class="input-group-addon" style="width: 140px; text-align: left;">Zip code:</span>
        <input type="text" class="form-control" ng-model="accountModelStep1.ZipCode" placeholder="zip code" />
    </p>
    <hr style="width: 415px; text-align: left;" />
    <div>
        <a href="#" class="btn btn-info" ng-click="step2()">Next</a>
    </div>
</div>
